body {
    background-color: lightgray;
}
h1 {
    color: darkblue;
}
h2 {
    color: darkred;
}
nav {
    background-color: black;
}
nav a {
    color: white;
}
section {
    background-color: white;
    padding: 20px;
    margin: 20px;
}